<div class="container_12">
  <div class="grid_12">
    <div class="box-shadow">
      <div class="wrap block-2">
        <div class="col-1">
          <h2 class="p3"><span class="color-1">Raspored</span> grupnih treniga</h2>
          <div class="wrap box-2 border-1" *ngFor="let r of raspored">
            
            <div>
              <p><strong>{{r.naslov | titlecase}}</strong></p>
              <p class="color-1">{{ r.vreme}}</p>
              <p>{{ r.sadrzaj}}</p>
            </div>

           
            
          </div>
        
         
        </div>
        <div class="col-2">
          <h2 class="p3">Autor</h2>
          <p @fade class="plava">Zovem se Nemanja Ranisavljević student sam Visoke ICT škole. Rođen sam 27.10.1997. godine u Beogradu živim u Sremskim Mihaljevcima. Završio sam srednju Ekonomsku skolu "Nada Dimić" u Zemunu. Moj broj ideksa je 86/16.</p>
          
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>