<div class="main">
  <div class="bg-img"></div>
  <!--==============================header=================================-->
  <header>
    <h1><a routerLink="/home">Fitness <strong>Club.</strong></a></h1>
    <nav>
      <div class="social-icons"> <a href="#" class="icon-2"></a> <a href="#" class="icon-1"></a> </div>
      <ul class="menu">
        <li routerLinkActive="active"><a routerLink="/">Pocetna</a></li>
        <li><a routerLink="/timetable">Timetable</a></li>
        <li><a routerLink="/galerija">Galerija</a></li>
        <li><a routerLink="/kontakt">Kontakt</a></li>
      </ul>
    </nav>
  </header>
  <!--==============================content================================-->
  <section id="content">
    <router-outlet></router-outlet>
  </section>
  <!--==============================footer=================================-->
  <footer>
    <p>© 2012 Fitness Club</p>
    <p>Website Template by <a target="_blank" href="http://www.templatemonster.com/" class="link">TemplateMonster.com</a></p>
  </footer>
</div>
<script>Cufon.now();</script>