<div class="main">
  <div class="bg-img"></div>
  <!--==============================header=================================-->
  <header>
    <h1><a routerLink="/home">Fitness <strong>Club.</strong></a></h1>
    <nav>
      <div class="social-icons"> <a href="https://www.facebook.com/nemanja.ranisavljevic.52" class="icon-2"></a> </div>
      <ul class="menu">
        <li routerLinkActive="active"><a routerLink="/">Pocetna</a></li>
        <li><a routerLink="/timetable">Timetable</a></li>
        <li><a routerLink="/galerija">Galerija</a></li>
        <li><a routerLink="/kontakt">Kontakt</a></li>
      </ul>
    </nav>
  </header>
  <!--==============================content================================-->
  <section id="content">
    <router-outlet></router-outlet>
  </section>
  <!--==============================footer=================================-->
  <footer>
    <p>© Nemanja Ranisavljevic 86/16</p>
    
  </footer>
</div>
<script>Cufon.now();</script>