
<div class="container_12">
  
  <div class="grid_12">
    <div id="slide">
      <div class="gallery">    
         <img  src="../../../assets/images/{{trenutna}}" alt="">
      </div>
    </div>
  </div>





  <div class="grid_12 top-1">
    <div class="block-3 box-shadow">
      <h2 class="p4"><span class="color-1">Slike</span> naseg centra</h2>
      <div class="pag">
        <div class="img-pags">
          
            
            <a *ngFor="let s of slike" (click)="Promeni(s.putanja)"><img src="../../../assets/images/{{ s.putanja}}" alt="{{ s.alt}}"></a>
            
          
        </div>
      </div>
    </div>
  </div>



  <div class="clear"></div>
</div>