<div class="container_12">
    <div class="grid_12">
      <div class="slider">
        <ul class="items">
          <li><img src="../../../assets/images/slider-1.jpg" alt="">
            <div class="banner">
              <p class="font-1">Specijalni<span>Program</span></p>
              <p class="font-2">Uskoro kod nas program koji obuhvata teretanu, cross fit, aerobik.</p>
               </div>
          </li>
          <li><img src="../../../assets/images/slider-2.jpg" alt="">
            <div class="banner">
              <p class="font-1">Prvi<span> Trenig</span></p>
              <p class="font-2">Za sve nove polaznike prvi trenig je besplatan. Dodji probaj. Vidimo se.</p>
               </div>
          </li>
          <li><img src="../../../assets/images/slider-3.jpg" alt="">
            <div class="banner">
              <p class="font-1">Pridruzi<span>se timu</span></p>
              <p class="font-2">Izaberi program treniga koji bi voleo da radis i razvijaj svoje telo.</p>
               </div>
          </li>
        </ul>
        <div class="pagination">
          <ul>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="grid_12 top-1">
      <div class="block-1 box-shadow">
        
        <p class="font-3" @fade> Fitnes klub se prostire na čak 300m2. Vremenom smo oko sebe okupili tim odličnih personalnih i grupnih trenera sa kojima ostvarujemo uspešnu saradnju već godinama. Pored toga, velika ulaganja u najsavremeniju opremu omogućila su nam da postanemo najbolji fitnes klub u Beogradu. Ako želite da trenirate u prijatnoj atmosferi, sami ili uz pomoć naših trenera koji će budno nadgledati svaki Vaš trening, naš fitnes klub je pravi izbor za Vas.</p>
        
      </div>
    </div>
    <div class="grid_12 top-1">
      <div class="box-shadow">
        <div class="wrap block-2">
            <div class="col-1">
                <h2 class="p3"><span class="color-1">Poslednje</span> vesti</h2>
                
                

                <div class="wrap box-1 top-2" *ngFor="let v of vesti">
                 <img src="../../../assets/images/{{v.slika}}" alt="{{v.naslov}}" class="img-border img-indent">
                  <div class="extra-wrap">
                    <input type="hidden" value="{{v.id}}"/>
                    <p><strong>{{v.naslov|titlecase}}</strong></p>
                    <p>{{ v.sadrzaj}}</p>
                  </div>
                </div>


            </div>

          <div class="col-2">
            
            <div class="form-search">
              <h2><span class="color-1">Pretplati se</span> za popust</h2>
              <form id="form-search" (ngSubmit)="onSubmit(f)" #f="ngForm">
                <input type="text" placeholder="Unesi svoj email"  ngModel name="email" required email #email="ngModel"/>
                <span id="sakriven" *ngIf="!email.valid && email.touched">Unesite ispravno email adresu.</span>
                
                <button [disabled]="!f.valid" type="submit" class="submit_button">Posalji</button>
              </form>
            </div>

            <div *ngIf="submitted" class="form-search">
                <h2><span class="color-1">Kod</span> je poslat</h2>
              <p>na Vasu email adresu. Kod mozete iskoristiti u roku od dva meseca.Kod ostvaruje popust od 20% na mesecni iznos clanarine.</p>
            </div>
            

          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
